[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
pulp = "*"
scipy = "*"
jupyter = "*"
pyomo = "*"
seaborn = "*"
prophet = "*"
fbprophet = "*"
colab = "*"

[requires]
python_version = "2.7"
